<h2>Recruitment</h2>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form>
				<div class="form-group">
					<label for="InputName">Name</label>
					<input type="name" class="form-control" id="Name" placeholder="Sadie">
				</div>
				<div class="form-group">

					<label for="InputBirthYear">Bitrh Year</label>
					<input type="number" class="form-control" id="BirthYear" placeholder="1126">
				</div>
				<div class="form-group">
					<label for="InputFurColor">Fur Color</label>
					<input type="text" class="form-control" id="FurColor" placeholder="Light Brown">
				</div>
				<div class="form-group">
					<label for="InputHome">Home</label>
					<input type="text" class="form-control" id="Home" placeholder="Port Sumac">
				</div>
				<div class="form-group">
					<label for="InputParentA">Parent</label>
					<input type="text" class="form-control" id="ParentA" placeholder="Thane">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Is Alive
					</label>
				</div>
				<div class="form-group">
					<label for="InputParentB">Parent</label>
					<input type="text" class="form-control" id="ParentB" placeholder="Ilsa">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Is Alive
					</label>
				</div>
				<div class="form-group">
					<label for="InputFrend">Frend or Ally</label>
					<input type="text" class="form-control" id="Frend" placeholder="Bonnie the Innkeeper">
				</div>
				<div class="form-group">
					<label for="InputEnemy">Enemy of Rival</label>
					<input type="text" class="form-control" id="Enemy" placeholder="Shane the Trader">
				</div>
				<div class="form-group">
					<label for="InputSenior">Senior</label>
					<input type="text" class="form-control" id="Senior" placeholder="Quinn the Cook">
				</div>
				<div class="form-group">
					<label for="InputMentor">Mentor</label>
					<input type="text" class="form-control" id="Mentor" placeholder="Leith">
				</div>
				<div class="form-group">
					<label for="InputParentB">Parent</label>
					<input type="text" class="form-control" id="ParentB" placeholder="Ilsa">
				</div>
				<div class="for-group">
					<select class="form-control">
						<option>Tenderpaw</option>
						<option>Guardmouse</option>
						<option selected="">Patrol Guard</option>
						<option>Patrol LEader</option>
						<option>Guard Caption</option>
					</select>
				</div>
				<div class="form-group">
					<label for="InputCloak">Cloak Color</label>
					<input type="text" class="form-control" id="Cloak" placeholder="Plum">
				</div>
				<div class="form-group">
					<label for="InputBelief">Belief</label>
					<textarea type="text" class="form-control" id="Belief"  rows="3" placeholder="A guardmousse needs to be abel to think with her head and act with her heart"></textarea>
				</div>
				<div class="form-group">
					<label for="InputGoal">Goal</label>
					<textarea type="text" class="form-control" id="Goal"  rows="3" placeholder="I will discover why Conrad's communications from Calogero has  stopped"></textarea>
				</div>
				<div class="form-group">
					<label for="InputInstinct">Instinct</label>
					<input type="text" class="form-control" id="Instinct" placeholder="Never delay when on a mission">
				</div>
				
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="col-md-6">
			<img src="/images/mg-quentin.png">
		</div>
	</div>
</div>

