@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>

<div class="container">
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<img src="/images/mg-denizens.jpg">
		</div>
	</div>
</div>
