@{
    ViewData["Title"] = "The Territories";
}
<style>
	h2{color:#b12519}
</style>
<div style="text-align:center">
	<h1>@ViewData["Title"]</h1>
	<h4>Our place in the world: <br>Should it be as small as we stand, or as large as we desire?
	<br> A question only answered by our willingness to find out.</h4>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h2>Barkstone</h2>
			<p>Barkstone is a working-class town. In addition to the shops and tradesmice, there is an inn for travelers,
				a bar for locals, a well-maintained archive of written records and quite a few harvesters.
				Barkstone is located on the west side of the Territories. At one time, a few other cities like Woodruff’s 
				Grove and Ferndale were between Barkstone and the Darkheather. Now that those cities have fallen, Barkstone’s 
				surroundings are more at risk of predatory attack than before.</p>
			<h4>Location/Structure</h4>
			<p>The gates are in a locust tree, and a path wends through a hollow between the rock and the tree. 
				Barkstone currently has one well.</p>
			<h4>Size</h4>
			<p>Town</p>	
			<h4>Government</h4>
			<p>Barkstone is led by a mayor elected from the artisans. He deals with internal disputes and trade from
				other cities. Commerce is conducted mainly through bartering goods and services. Barkstone does not
				have its own money, but accepts most other cities’ coin. Barkstone also has its own armored mice who 
				defend the harvesters in open country. It was under the disguise of that armored group that Midnight 
				was able to start his rebel army in Fall 1152.</p>
				
		</div>
		<div class="col-md-6">
			<img src="/images/mg-lock.jpg" height="350px" align="left" >
			
			
		</div>
  </div>
</div>
