@model IEnumerable<TheGuard>
@foreach (var p in Model) {
    <div>
        <h3>@p.Name</h3>
        @p.Will
        <h4>@p.Health</h4>
</div> }


<!--@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Message"]</h2>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<h3 style="text-align:center">Thom</h3>
			<div class="caption">
				<table class="table">
					<thead>
						<th>Ability</th>
						<th>Rating</th>
					</thead>
					<tbody>
						<tr>
							<td>Nature(Mouse):</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Will:</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Health:</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Resources</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Circles</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<h3 style="text-align:center">Kyle</h3>
			<div class="caption">
				<table class="table">
					<thead>
						<th>Ability</th>
						<th>Rating</th>
					</thead>
					<tbody>
						<tr>
							<td>Nature(Mouse):</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Will:</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Health:</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Resources</td>
							<td>6</td>
						</tr>
						<tr>
							<td>Circles</td>
							<td>3</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<h3 style="text-align:center">Thom</h3>
			<div class="caption">
				<table class="table">
					<thead>
						<th>Ability</th>
						<th>Rating</th>
					</thead>
					<tbody>
						<tr>
							<td>Nature(Mouse):</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Will:</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Health:</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Resources</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Circles</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<h3 style="text-align:center">Kyle</h3>
			<div class="caption">
				<table class="table">
					<thead>
						<th>Ability</th>
						<th>Rating</th>
					</thead>
					<tbody>
						<tr>
							<td>Nature(Mouse):</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Will:</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Health:</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Resources</td>
							<td>6</td>
						</tr>
						<tr>
							<td>Circles</td>
							<td>3</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<img src="/images/mg-mice.png" height="400px">
</div>



-->